<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>main page</title>
    <script src="https://telegram.org/js/telegram-web-app.js"></script>

    <script type="text/javascript">
        let webapp = window.Telegram.WebApp;
        webapp.expand();

        {#document.getElementById("count").innerText = '10';#}
        {#document.getElementById("name").innerText = `${tg.initDataUnsafe.user.first_name}`;#}
        {#document.getElementById("age").innerText = `${tg.initDataUnsafe.user}`;#}

	</script>

</head>
<body>
    <div class="usercard" style="color: white">
        <p id="count">Всего количество пользователей: {{ count }}</p>
        <p id="name">Выше имя: {{ name }}</p>
        <p id="age">Ваш возраст: {{ age }}</p>
    </div>


    <style>
        body {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 90vh;
        }
    </style>

</body>
</html>